/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #FFF5E2;
  font-family: arial;
}

.container{
  width:50%;
}
/* /MIX */

/* header */
header{
  padding: 50px 30px 30px 30px;
  background-color: #FDBB40;
  position:relative;
}
.burger-top{
  position:absolute;
  right: -31px;
  bottom: -42px;
}
/* /header */

/* main */
main{
  padding:30px;
  background-color: #fff;
}
/* campo scelta nome */
#name-burger{
  font-size: 24px;
  border:none;
  font-weight: 400;
}
/* /campo scelta nome */

.main-part h2{

  margin: 20px 0;

}
.box{
  display:flex;
}
.list{
  width:50%;
}
.lista-ingredienti li{
  list-style-type: none;
}
.lista-ingredienti img{
  height:40px;
  vertical-align: middle;
  margin-right:10px;
  padding: 5px 0;
}
.ingredients{
  margin: 0 10px;

}
/* /main */
